.footer {
    position: relative;
    margin-bottom: 30px;
}

.footer__info {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 2px solid #E6E6F0;
    padding-top: 20px;
    padding-bottom: 20px;

    a {
        text-decoration: none;
    }

    li {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    &-location {
        font-size: $paragraph-fz;
        color: $main-color;
    }

    &-map {  
        font-size: 12px;
        font-weight: $fw-bold;
        color: $active-color-regular;
        text-transform: uppercase;      
    }

    &-number {
        font-size: $paragraph-fz;
        font-weight: $fw-bold;
        color: $main-color-alt;
    }

    &-mail {
        font-size: $paragraph-fz;
        font-weight: $fw-bold;
        color: $active-color-regular;
    }

    &-credits {
        font-size: $paragraph-fz;
        color: $grey-color-text;
        text-align: center;
    }

    @media screen and (min-width: 768px) {
        display: grid;
        justify-content: start;
        align-items: center;
        grid-auto-columns: auto;
        grid-auto-rows: auto;
        grid-auto-flow: column;
        gap: 0px;

        >li+li {
            position: relative;
            padding-left: 20px;
            &:before {
                content: '';
                position: absolute;
                left: -3px;
                top: 6px;
                width: 6px;
                height: 6px;
                background: $grey-color-separator;
                border-radius: 50%;
                margin: 0 10px;
            }
        }

        &-location {
            grid-column: 1;
            grid-row: 1;
            font-size: $paragraph-fz;
            color: $main-color;
        }

        &-map {  
            grid-column: 2;
            grid-row: 1;
            font-size: 12px;
            font-weight: $fw-bold;
            color: $active-color-regular;
            text-transform: uppercase;      
        }

        &-contacts {
            grid-column: 1;
            grid-row: 2;
            width: fit-content;

            &::before {
                display: none;
            }
        }

        &-credits {
            position: absolute;
            top: 30px;
            right: 60px;
        }

        &-number {
            grid-column: 2;
            grid-row: 2;
            font-size: $paragraph-fz;
            font-weight: $fw-bold;
            color: $main-color-alt;
        }

        &-mail {
            grid-column: 3;
            grid-row: 2;
            font-size: $paragraph-fz;
            font-weight: $fw-bold;
            color: $active-color-regular;
        }
    }
}