.services {
    margin-top: 30px;

    &__container{
        display: grid;
        grid-template-columns: 1fr;

        @media screen and (min-width: 1024px) {
            grid-template-columns: 1fr 1fr 1fr;
        }


        @media screen and (min-width: 768px) {
            grid-template-columns: 1fr 1fr;
        }

        &-block {
        display: inline-flex;
        flex-direction: column;
        margin-top: 30px;
        margin-bottom: 30px;
        margin-right: 20px;
        justify-content: start;
        }
    }

    h2 {
        font-size: $hero-fz;
        font-weight: $fw-bold;
    }

    h3 {
        font-size: $h3-fz;
        font-weight: $fw-bold;
        margin-bottom: 20px;
        color: $active-color-regular;
    }
}

.service-icon {
    background: $bg-gradient-text;
    border-radius: 12px;
    margin: 20px 0 20px 0;
    stroke: linear-gradient(180deg, #EF8080 0%, #F0145A 100%);
}
